@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.under {
    border-bottom: 2px solid #f1e3d1;
    width: 60px;
    margin-bottom: 3px;
}

.weight {
    font-weight: 600;
}
/*------------HEADER------------*/


.logo{
    font-size: 35px;
    color: #f1e3d1;
    font-weight: 600;
}

.logo span {
    color: #d7ab8b;
}

.bg-dark{
    padding: 0;
}
.navbar-dark .navbar-nav .nav-link{
    color: #c1b7a9;
    font-size: 25px;
    padding: 25px 35px;
    border: 1px solid #f1e3d1;
    transition: 1.5s;
    border-top: 0;
}

.navbar-dark .navbar-nav .last:last-child {
    border: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background: #d8ab8b;
}

.nav-item {
    margin-right: 0;
}

.hello {
    background: url("../img/cat.jpg")no-repeat top center / cover;
    padding: 150px 0 100px 0;
}

.hello2 {
    background: url("../img/pitbul.jpg")no-repeat top center / cover;
}

.hello3 {
    background: url("../img/glaza.jpg")no-repeat top center / cover;

}
.main {
    font-size: 50px;
}

.main_text {
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.main_text__second{
    color: #c7c4c1;
    font-size: 15px;
    font-weight: 700;
}

.btn-outline-dark {
    color: #ffffff;
    border:  solid 1px #f1e3d1;
    border-radius: 0;
}

.btn-outline-dark:hover {
    background-color: #b8b2a7;
}

.btn {
    margin: 25px 0;
}

.form1{
    width: 85%;
    background-color: #f1e3d1;
    margin-bottom: 30px;
    border-radius: 0 0 5px 5px;
}

.form1_lab {
    background-color: #b8b2a7;
    color: black;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.form1_lab span {
    color: #f1e3d1;
    text-transform: uppercase;
}

.form-control {
    width: 84%;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin: 24px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #bdbdbd;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #cabfb0;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.batton {
    margin-top: 19px;
    color: white;
    background-color: #d8ab8b;
    width: 100%;
    padding: 15px 0;
    border-radius: 0 0 5px 5px;
    border: none;
    font-weight: 600;
    transition: 1.5s;
}

.batton:hover {
    background-color: #b8b2a7;
}

/*------------SOCIAL------------*/

.social {
    background-color: #f1e3d1;
}

i {
    color: #cccccc;
    font-size: 45px;
    transition: 1.5s;
}

i:hover {
    color: #d8ab8b;
}

.social__text{
    color: #bfb8ac;
    margin: 0;

}

/*------------Collapse------------*/
.cols {
    margin: 80px 0;
}

.cols__but {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card{
    border: 0;
    flex-direction: unset;
}

.card__info {
    width: 60%;
}

.card__img{
    width: 40%;
}

.but__prim {
    margin: 3px 0;
    width: 70%;
    padding: 49px 0;
    color: #f1e3d1;
    font-size: 20px;
    background-color: #2a3947;
    transition: 1.5s;
    border-radius: 0;
}

.but__prim:hover,
.but__prim:active{
    background-color: #d8ab8b;
}

    /*------------AnimateOne------------*/

.animate {
    padding: 75px 0;
}

.animate__one{
    background-color: #f1e3d1;
}

.orange {
    border-bottom: 2px solid #ff8b38;
    margin: 25px 0;
}

.animate__img{
    width: 370px;
    height: 240px;
    box-shadow: -1px 0 9px 1px rgba(0,0,0,0.27);
}

.animate__photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #ff8b38;
    margin-right: 30px;
}

.list {
    margin-left: -24px;
}

/*------------AnimateTwo------------*/

.next {
    color: #86878b;
    text-align: justify;
}

.animate__text__under {
    margin-left: 10px;
}

/*------------FormFirst------------*/

.form__first {
    background-color: #2a3947;
}

.form2{
    padding: 50px 0;
    width: 85%;
}

.form2__main {
    padding: 50px 0;
    color: #f1e3d1;
    text-align: center;
    font-size: 35px;
}
.forms {
    border: 1px solid #cccccc;
    width: 280px;
    margin: 10px;
}

.forms::placeholder{
    color: #b8b2a7;
}

.buts {
    padding: 50px 0;
}

.btn-block{
    width: 60%;
}

.btn-primary{
    margin: 50px 0;
    background-color: #d8ab8b;
    border-radius: 0;
    border-color: #d8ab8b;
    transition: 1.5s;
}

.btn-primary:hover {
    background-color: #c8ae7f;
    border-color: #c8ae7f;
}

/*------------FormSecond------------*/

.form__second__main {
    text-align: center;
    margin: 60px 0 10px 0;
}

.normal{
    font-stretch: ultra-expanded;
    font-size: 35px;
}

.group__all {
    margin: 35px 0;
}

 /*Form*/
.group {
    text-align: center;
    position:relative;
    margin-bottom:45px;
}
input, textarea{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:500px;
    border:none;
    border-bottom:1px solid #dcd9d3;
}

textarea {
    padding:10px 10px 165px 5px;
}

input,textarea:focus 		{ outline:none; }

/* LABEL ======================================= */

label 				 {
    color:#dcd9d3;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#dcd9d3;
}

textarea:focus ~ label, textarea:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#dcd9d3;
}
/* BOTTOM BARS ================================= */
.bar 	{
    position:relative;
    display:block;
    width:500px;
}

.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#b8b2a7;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#d6d6d6; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#d6d6d6; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#d6d6d6; }
    to 	{ width:0; background:transparent; }
}

     /*Forms*/

.buttons__second{
    margin: 40px 0;
}

.button__second{
    background: #402720;
    color: #ffff;
    font-size: 15px;
    border-radius: 0;
    text-transform: capitalize;
    padding: 13px 0;
    display: block;
    cursor: pointer;
    width: 190px;
    border: none;
    font-weight: 500;
    text-align: center;
    transition: 1.5s;
}

.button__second:hover {
    background-color: #d8ab8b;
}


/*------------SOCIAL------------*/

.social__footer{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}

/*-----------ADAPTIVE---------- */

@media screen and (max-width: 992px){

    .hello {
        text-align: center;
        padding: 10px auto;
    }

    .form1 {
        margin: 10px auto;
    }

    /*collapse*/

    .card{
        border: 0;
        flex-direction: column;
    }

    .card__info {
        width: 90%;
    }

    .card__img{
        width: 90%;
    }

    .cols__but {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .but__prim{
        padding: 10px 0;
        width: 32%;
    }

    .form-first{
        display: flex;
        flex-direction: column;
    }

    .social__text {
        margin: 10px 0;
    }

    .form2 {
        padding: 50px 0;
        width: 100%;
    }

    .form2_forms{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .animate__maine{
        margin-top: 10px;
    }

    /*---------formsecond----------*/
    .group__all {
        display: flex;
        flex-direction: column;
    }

    input, textarea {
        width: 100%;
    }

    .bar{
        width: 100%;
    }

    .social {
        display: flex;
        flex-direction: row;
    }

}