*{

}

body{
    margin: 0;
    padding: 0;
}

/*------------HEADER------------*/

header {
    background: url("../img/cat.jpg")no-repeat top center / cover;
    height: 500px;
}

.logo{
    font-size: 35px;
    color: #f1e3d1;
    font-weight: 600;
}

.logo span {
    color: #d7ab8b;
}

.bg-dark{
    padding: 0;
}
.navbar-dark .navbar-nav .nav-link{
    color: #c1b7a9;
    font-size: 25px;
    padding: 25px;
    border: 1px solid #f1e3d1;
}

.navbar-dark .navbar-nav .last:last-child {
    border: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background: #d8ab8b;
}

.nav-item {
    margin-right: 35px;
}

.main {
    font-size: 50px;
}

.main_text {
    font-size: 25px;
    color: white;
    font-weight: 600;
}


/*------------SOCIAL------------*/

/*------------SPRITE------------*/

/*------------AnimateOne------------*/

/*------------AnimateTwo------------*/

/*------------FormFirst------------*/

/*------------FormSecond------------*/

/*------------SOCIAL------------*/