*{

}

body{
    margin: 0;
    padding: 0;
}

/*------------HEADER------------*/


.logo{
    font-size: 35px;
    color: #f1e3d1;
    font-weight: 600;
}

.logo span {
    color: #d7ab8b;
}

.bg-dark{
    padding: 0;
}
.navbar-dark .navbar-nav .nav-link{
    color: #c1b7a9;
    font-size: 25px;
    padding: 25px;
    border: 1px solid #f1e3d1;
    transition: 1.5s;
}

.navbar-dark .navbar-nav .last:last-child {
    border: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background: #d8ab8b;
}

.nav-item {
    margin-right: 35px;
}

#hello {
    background: url("../img/cat.jpg")no-repeat top center / cover;
    padding-top: 150px;
}


.main {
    font-size: 50px;
}

.main_text {
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.btn-outline-dark {
    color: #ffffff;
    border-color: #f1e3d1;
    border-radius: 0;
}

.form1{
    width: 290px;
    background-color: #f1e3d1;
}

.form1_lab {
    background-color: #b8b2a7;
    color: black;
    font-size: 20px;
}

.form1_lab span {
    color: #f1e3d1;
    text-transform: uppercase;
}

.baton {
    background-color: #d8ab8b;
    padding: 20px 25px;
    border-radius: 0 0 5px 5px;
    border: none;
}

/*------------SOCIAL------------*/

.social {
    background-color: #f1e3d1;
}

i {
    color: #cccccc;
    font-size: 45px;
    transition: 1.5s;
}

i:hover {
    color: #d8ab8b;
}

.mans__social{
}

.socials{
}

.social__text{
    color: #bfb8ac;
    margin: 0;

}
/*------------SPRITE------------*/

/*------------AnimateOne------------*/

.animate__one{
    background-color: #f1e3d1;
}
.animate__img{
    width: 370px;
    height: 240px;
    box-shadow: -1px 0 9px 1px rgba(0,0,0,0.27);
}

/*------------AnimateTwo------------*/

/*------------FormFirst------------*/

/*------------FormSecond------------*/

/*------------SOCIAL------------*/

.social__footer{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}